<div class="container mt-5 mb-5 pt-5" style="position: relative;">
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
        <div class="form-row">
            <input type="hidden" formControlName="id"/>
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input id="nome" type="text" class="form-control" formControlName="nome" />
            </div>
            <div class="form-group col-md-6">
                <label for="sobrenome">Sobrenome</label>
                <input 
                type="text" 
                class="form-control" 
                id="sobrenome" 
                formControlName="sobrenome"
                [class]="(submitted && formulario.get('sobrenome').errors) || 
                         (formulario.get('sobrenome').errors && formulario.get('sobrenome').dirty) ? 'is-invalid' : 
                         formulario.get('sobrenome').dirty ? 'is-valid' : '' "
                />
                <div *ngIf="formulario.get('sobrenome').errors?.required"
                 class="invalid-feedback" >
                    Sobrenome é obrigatório!
                </div>
                <div *ngIf="formulario.get('sobrenome').errors?.minlength"
                class="invalid-feedback" >
                    Sobrenome deve ter mais que 3 caracteres!
                </div>
                <div *ngIf="formulario.get('sobrenome').errors?.maxlength"
                class="invalid-feedback" >
                    Sobrenome excedeu a quantidade máxima de 10 caracteres!
                </div>
            </div>
        </div>
        <div class="form-group" >
            <label for="nome">Foto</label>
            <p-fileUpload #upload
                name="demo[]" 
                chooseLabel="Escolher uma foto" 
                [showUploadButton]="false"
                [showCancelButton]="false"
                (onSelect)="enviarImagem($event)"
                [multiple]="false" 
                accept="image/*"
                maxFileSize="1000000">               
            </p-fileUpload>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <p-inputMask styleClass="form-control" id="telefone" placeholder="(73) 95321-9875"
                formControlName="telefones" mask="(99) 99999-9999"></p-inputMask>
        </div>        
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" formControlName="cpf">
            </div>
            <div class="form-group col-md-4">
                <label for="rg">RG</label>
                <input type="text" class="form-control" id="rg" formControlName="rg">
            </div>
            <div class="form-group col-md-2">
                <label for="data_nasc">Data de Nascimento</label>
                <input type="date" class="form-control" id="data_nasc" formControlName="dataNasc">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" formControlName="cep">
            </div>
            <div class="form-group col-md-4">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
            </div>
            <div class="form-group col-md-2">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" formControlName="numero">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" formControlName="complemento">
            </div>
            <div class="form-group col-md-6">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" formControlName="bairro">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Estado</label>
                <p-dropdown 
                    [options]="estados" 
                    formControlName="estado" 
                    [filter]="true" 
                    [style]="{'width':'100%'}"
                    (onChange)="listarCidades()">
                </p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="">Cidade</label>
                <p-dropdown 
                    [disabled]="!formulario.value.estado"
                    [options]="cidades" 
                    formControlName="cidade" 
                    [filter]="true" 
                    [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <button type="submit" class="btn"
            [class]="operacao ? 'btn-primary' : 'btn-success'">{{ operacao ? "Cadastrar" : "Atualizar" }}
        </button>
        <br><br>
        <a routerLink="/listar/cliente">Voltar para a pesquisa</a>
    </form>
</div>