<div class="bs-nav">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="#" class="navbar-brand">Digital House</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cliente</a>
                    <div class="dropdown-menu">
                        <a *ngIf="service.temPermissao('DH01')"                         
                        routerLinkActive="ativo" 
                        routerLink="/cliente"
                        class="dropdown-item">Cadastrar</a>     
                        
                        <a *ngIf="service.temPermissao('DH01')" 
                        routerLinkActive="ativo" 
                        routerLink="/listar"
                        class="dropdown-item">Listar Todos</a>                    
                    </div>
                </div>
                <a *ngIf="service.temPermissao('DH01')" 
                    routerLinkActive="ativo" 
                    routerLink="/cliente" 
                    class="nav-item nav-link">Fornecedor</a>
            </div>           
            <div class="navbar-nav">
                <a class="nav-item nav-link">{{usuario}}</a>
                <a href="javascript:;" class="nav-item nav-link" (click)="logout()">Logout</a>
            </div>
        </div>
    </nav>
</div>